@model IEnumerable<Film>

@{
    ViewBag.Title = "Film";
}

<h1 class="display-4">Seleziona il film da guardare</h1>

<table class="table">
    <tr>
        <th>Titolo</th>
        <th>Autore</th>
        <th>Produttore</th>
        <th>Genere</th>
        <th>Durata</th>
        <th>NomeSala</th>
    </tr>
    @if (Model != null && Model.Any())
    {
        foreach (var film in Model)
        {
            <tr>
                <td>@film.titolo</td>
                <td>@film.autore</td
                <td>@film.produttore</td>
                <td>@film.genere</td>
                <td>@film.durata</td>
                <td>@film.nomeSala</td>
                <td>
                    
                </td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="5" class="text-center"> Nessuna film esistente</td>
        </tr>
    }
</table>

